* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  display: flex;
  gap: 1rem;
  width: 80%;
  align-items: start;
  justify-content: center;
}

li {
  list-style: none;
}

.right-side {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1rem;
  border: 2px solid black;
  padding: 0.5rem;
  border-radius: 8px;
}

.leftside {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
  flex: 1;
  border: 2px solid black;
  padding: 0.5rem;
  border-radius: 8px;
}

.score {
  display: flex;
  justify-content: space-between;
}

.add-score {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.li {
  display: flex;
  border-radius: 4px;
  padding: 0.5rem;
  justify-content: space-between;
}

.li:nth-child(even) {
  background-color: rgb(231, 231, 231);
}

input {
  padding: 0.5rem;
  border-radius: 4px;
}

button {
  padding: 0.5rem;
  width: fit-content;
  border-radius: 4px;
  align-self: flex-end;
  cursor: pointer;
}
